@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand&display=swap');

body {
    background: linear-gradient(90deg, rgba(130,224,198,1) 0%, rgba(130,224,219,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items:center; 
    padding: 2em;
    /* text-align: center; */
}
container {
    max-width:700px;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

h3 a {
    color: #FCCA46;
    text-decoration: none;
}

.intro {
    max-width: 960px;
    line-height: 2.5em;
}

.intro-link {
    font-weight: 900;
    transition: color .2s,background-color .2s;
}
.intro-link:hover {
    background-color: #FCCA46;
    color: rgba(130,224,198,1);
}

footer {
    color:#fff;
    padding: 2% 0;
    width: 100%;
    height: 100px;
   }
   
   /* .footer-content {
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    color: #FFE0E0;
    letter-spacing: .03em;
   } */
   
   .social {
    float:left;
    transition-delay: 10s;
   }
   
   .social li {
    display:inline;
   }
   
   .social li a {
    color:#FCCA46;
    padding:0.2em;
    font-size:1.8em;
    font-weight:600;
    text-decoration: none;
   }
   
   .social li a:hover {
    color: #011833;
   }